[distutils]
index-servers=
  pypi
  testpypi

[pypi]
  repository = https://upload.pypi.org/legacy/
  username = __token__
  password = {{ (bitwardenFields "item" "2bafc733-30d1-44b3-ba66-aaa80188683a").pypircToken.value }}

[testpypi]
  repository = https://test.pypi.org/legacy/
  username = __token__
  password = {{ (bitwardenFields "item" "7b309a17-0122-4595-9ad3-ad8d00ad0ee8").pypircToken.value }}
