[distutils]
index-servers=
  pypi
  testpypi

[pypi]
  repository = https://upload.pypi.org/legacy/
  username = __token__
  password = {{ (bitwardenFields "item" "prod.pypi.org").pypircToken.value }}

[testpypi]
  repository = https://test.pypi.org/legacy/
  username = __token__
  password = {{ (bitwardenFields "item" "test.pypi.org").pypircToken.value }}
