# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'Setup Beat':
    'prefix': 'setup'
    'body': '<!-- SETUP: $1 \n
      -->'
  'Payoff Beat':
    'prefix': 'payoff'
    'body': '<!-- PAYOFF: $1 \n
      -->'
  'Story Front Matter':
    'prefix': 'storyhead'
    'body': '---\n
    title: \'$1\'\n
    author: David L. Day\n
    street: 395 Lyncroft Drive\n
    city: Gahanna\n
    state: OH\n
    zip: 43230\n
    email: david@davidlday.com\n
    phone: 1-614-795-3329\n
    synopsis: |\n
      \n
    ---'
